body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
div {
  width: 100%;
  height: 100%;

  #header {
    width: 100%;
    height: 13%;
    box-shadow: 0px 100px 11px -8px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background: linear-gradient(
      90deg,
      rgba(254, 129, 4, 1) 0%,
      rgba(255, 161, 66, 1) 97%
    );
    h1 {
      color: rgb(235, 235, 235);
    }
  }

  #container {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(
      90deg,
      rgba(2, 172, 229, 1) 0%,
      rgba(3, 161, 208, 1) 31%,
      rgba(0, 212, 255, 1) 100%
    );
    #title {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }

    #calculator {
      width: 100%;

      height: 72%;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      input {
        // width: 20%;
        // height: 65%;
        width: 63%;
        height: 22%;
        border-radius: 5px;
        font-size: 30px;
        padding-left: 1%;
        background: rgb(235, 235, 235);
      }
      select {
        // width: 21%;
        // height: 75%;
        width: 72%;
        height: 25%;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: #2c3e50;
        background-image: none;
        padding: 0 0.5em;
        color: rgb(235, 235, 235);
        font-size: 30px;
        text-align: center;
        cursor: pointer;
      }
      select::-ms-expand {
        display: none;
      }
    }
    #conversion {
      width: 100%;
      height: 24%;

      display: flex;
      justify-content: center;
      align-items: center;
      button {
        // width: 18%;
        // height: 80%;
        width: 44%;
        height: 64%;
        font-size: 30px;
        font-weight: bold;
        border-radius: 5px;
        background: rgb(235, 235, 235);
        &:focus {
          outline: none;
        }
      }
    }
  }
  #results {
    width: 100%;
    height: 25%;
    margin-top: -3;
    display: flex;
    background: linear-gradient(
      90deg,
      rgba(2, 172, 229, 1) 0%,
      rgba(3, 161, 208, 1) 31%,
      rgba(0, 212, 255, 1) 100%
    );
    border-top: 3px solid rgb(254, 129, 4);
    #fromto {
      width: 25%;
      height: 100%;
      display: none;
      justify-content: center;
      align-items: flex-end;
      color: rgb(235, 235, 235);
    }
    #converted {
      //   width: 50%;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #mid {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #start {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        width: 100%;
        color: rgb(235, 235, 235);
      }
      #mid {
        h1 {
          //   font-size: 49px;
          font-size: 29px;
          color: rgb(235, 235, 235);
          margin: 0;
        }
      }
      #fin {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2 {
          font-size: 24px;
          margin: 0.5%;
          color: rgb(235, 235, 235);
        }
      }
    }
    #date {
      width: 25%;
      height: 100%;
      display: none;
      justify-content: center;
      align-items: flex-end;
      color: rgb(235, 235, 235);
    }
  }
  #hidden {
    display: none;
  }
}

@media (min-width: 712px) {
  div {
    #container {
      #calculator {
        flex-direction: row;
        height: 30%;
        input {
          width: 20%;
          height: 65%;
        }
        select {
          width: 21%;
          height: 75%;
        }
      }
      #conversion {
        button {
          width: 18%;
          height: 80%;
        }
      }
    }
    #results {
      width: 100%;
      height: 25%;
      margin-top: -3;
      display: flex;
      background: linear-gradient(
        90deg,
        rgba(2, 172, 229, 1) 0%,
        rgba(3, 161, 208, 1) 31%,
        rgba(0, 212, 255, 1) 100%
      );
      border-top: 3px solid rgb(254, 129, 4);
      #fromto {
        display: flex;
      }
      #converted {
        width: 50%;

        #mid {
          h1 {
            font-size: 49px;
          }
        }
        #fin {
          h2 {
            font-size: 24px;
            margin: 0.5%;
            color: rgb(235, 235, 235);
          }
        }
      }
      #date {
        display: flex;
      }
    }
  }
}
